airtable-agent-tools-y0uY4p3CgvRLHGgq.json
{"createdAt":"2025-01-16T21:08:36.741Z","updatedAt":"2025-01-16T22:43:31.483Z","id":"y0uY4p3CgvRLHGgq","name":"Airtable Agent Tools","active":false,"nodes":[{"parameters":{},"id":"ce48d738-1bdb-409f-bfcd-4fce5e21a4ff","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[940,1200]},{"parameters":{"assignments":{"assignments":[{"id":"cfdbe2f5-921e-496d-87bd-9c57fdc22a7a","name":"response","value":"={{$json}}","type":"object"}]},"options":{}},"id":"d4d60513-7fd4-4f72-b052-48431b0c214d","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2920,1220]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"get_bases","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_bases"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26a3ffe8-c8a6-4564-8d18-5494a8059372","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"get_base_tables_schema","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_base_tables_schema"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f51cc26-2e42-42e1-a5c2-cb1d2e384962","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"search","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"search"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51031140-5ceb-48aa-9f33-d314131a9653","leftValue":"={{ $('Execute Workflow Trigger').item.json.command }}","rightValue":"code","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"code"}]},"options":{}},"id":"698028ed-5bd9-4d89-86aa-feb59e99da89","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1160,1180]},{"parameters":{"resource":"base","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1760,840],"id":"91bd96a4-ca8c-488f-a55c-023684fda6b4","name":"Get Bases1","credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"base","operation":"getSchema","base":{"__rl":true,"value":"={{ $('Execute Workflow Trigger').item.json.query.base_id }}","mode":"id"}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1760,1000],"id":"220fb518-dd1d-45e5-a397-6520714ffb08","name":"Get Base/Tables schema1","credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"method":"POST","url":"=https://api.airtable.com/v0/{{ $('Execute Workflow Trigger').item.json.query.base_id }}/{{ $('Execute Workflow Trigger').item.json.query.table_id }}/listRecords","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ \n  Object.fromEntries(\n    Object.entries({\n      sort: $('Execute Workflow Trigger').item.json.query.sort,\n limit: $('Execute Workflow Trigger').item.json.query.limit,\nfields: $('Execute Workflow Trigger').item.json.query.fields,\nfilterByFormula:  $('Merge').item.json.choices == undefined ? undefined : JSON.parse($json.choices[0].message.content).filter\n    }).filter(([key, value]) => value !== undefined)\n  )\n}}","options":{"pagination":{"pagination":{"parameters":{"parameters":[{"type":"body","name":"offset","value":"={{ $response.body.offset}}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.offset==undefined}}"}}}},"id":"4b662534-a62b-457c-97d1-3488376f96b0","name":"Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,1220],"credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"dc09a5b4-ff6a-4cee-b87e-35de7336ac05","name":"prompt","value":"=Analyse user request for Airtable filtration. User filter rules to build right formula. Think smart about filter (e.g. instead of search where Name equal to value - search where name contains lowercase value)\nIMPORTANT Check examples and best practices before building formula. \n\nIMPORTANT best practices:\n\nSEARCH(LOWER('example'), LOWER({Field})) ensures both the search term and field are compared in lowercase for consistent case-insensitive matching\n\nIMPORTANT Examples:\n\n- AND(SEARCH('urgent', {Notes}), {Priority} > 3) fetch records where “Notes” contain “urgent” and “Priority” is greater than 3\n- AND({Status} = 'Pending', IS_BEFORE({Due Date}, TODAY())) fetch records where “Status” is “Pending” and “Due Date” is before today\n- OR(SEARCH('error', {Logs}), SEARCH('warning', {Logs})) fetch records where “Logs” contain “error” or “warning”\n- AND(LEN({Description}) > 10, {Price} > 50) fetch records where “Description” is longer than 10 characters and “Price” is greater than 50\n- RECORD_ID() = 'rec12345' fetch a specific record by its ID\n- SEARCH('rec67890', ARRAYJOIN({Linked Records}, ',')) fetch records linked to a specific record ID rec67890\n- AND(SEARCH('rec12345', ARRAYJOIN({Linked Records}, ',')), {Status} = 'Active') fetch records where “Linked Records” contain rec12345 and “Status” is “Active”\n\nFormula rules:\nOperators - =,!=,>,<,>=,<= \n- AND(condition1, condition2, ...) logical AND\n- OR(condition1, condition2, ...) logical OR\n- NOT(condition) logical NOT\n- SEARCH('substring', {Field}) finds position of substring, case-insensitive\n- FIND('substring', {Field}) finds position of substring, case-sensitive\n- IS_BEFORE({Date}, 'YYYY-MM-DD') checks if date is before\n- IS_AFTER({Date}, 'YYYY-MM-DD') checks if date is after\n- IS_SAME({Date1}, {Date2}, 'unit') checks if dates are the same by unit\n- RECORD_ID() = 'recXXXXXX' filters by record ID\n- {Field} = '' field is blank\n- {Field} != '' field is not blank\n- ARRAYJOIN({Linked Field}, ',') joins linked records into a string\n- LOWER({Field}) converts to lowercase for case-insensitive comparison\n- UPPER({Field}) converts to uppercase for case-insensitive comparison\n- VALUE({Text}) converts text to number for numeric comparisons\n- LEN({Field}) gets text length\n- ROUND(number, precision) rounds number\n- TODAY() current date\n- NOW() current timestamp\n- IF(condition, true_value, false_value) conditional logic\n- DATETIME_FORMAT({Date}, 'format') formats date as text\n- DATETIME_DIFF(date1, date2, 'unit') difference between dates\n- DATEADD({Date}, number, 'unit') adds time to date\n- LEFT({Text}, number) extracts leftmost characters\n- RIGHT({Text}, number) extracts rightmost characters\n- AND({Field1} = 'Value1', {Field2} > 50) multiple conditions\n- SEARCH('Value', {Field}) substring match\n- ROUND({Field1} / {Field2}, 2) numeric calculation\n- AND(IS_BEFORE({Date}, TODAY()), {Status} = 'Active') filter by date and status\n- ISERROR(expression) checks if an expression has an error\n- ABS(number) absolute value\n- MIN(value1, value2) minimum value\n- MAX(value1, value2) maximum value\n\n","type":"string"},{"id":"4e0f9af6-517f-42af-9ced-df0e8a7118b0","name":"schema","value":"={\n  \"name\": \"filter\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"filter\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"filter\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}","type":"string"}]},"options":{}},"id":"2951e411-124d-43d1-8e8f-b81b3629613a","name":"Set Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,1280]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": {{ JSON.stringify($('Set Fields1').item.json.prompt) }}\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"{{ $('Execute Workflow Trigger').item.json.query.filter_desc }}\"\n      }],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {{ $('Set Fields1').item.json.schema }}\n\n }\n  }","options":{}},"id":"5bebf8cb-415d-4b0c-9cb1-f874036487ac","name":"OpenAI - Extract Line Items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1940,1280],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1960,840],"id":"5975fd83-ff5f-4027-b6fb-68d59df548bd","name":"Aggregate"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1960,1000],"id":"71460fd6-5b8d-4611-b3c4-8aa384f014af","name":"Aggregate1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcb24127-53f9-4498-b0fd-463bd4966ac9","leftValue":"={{ $('Execute Workflow Trigger').item.json.query.filter_desc }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,1220],"id":"b5c25900-adee-4a19-9980-671b49ba2b70","name":"If"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2140,1220],"id":"ddc55446-2571-48f6-bc9d-9309e5013722","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"records"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2440,1220],"id":"9084ce8e-3e8b-44fc-a7dd-a5403392038d","name":"Aggregate2"},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('OPENAI - Create thread').item.json.id }}/messages ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"=Request:\n{{ $('Execute Workflow Trigger').item.json.query.request }}\n\nData:\n{{ $('Execute Workflow Trigger').item.json.query.data }}"}]},"options":{}},"id":"898fa0fe-4eac-4f82-b51e-456bb6795e5a","name":"OPENAI - Send message","type":"n8n-nodes-base.httpRequest","position":[1740,1580],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('OPENAI - Create thread').item.json.id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"asst_PGUuvzEGJWOE8p8vwV56INLO"},{"name":"stream","value":"={{true}}"},{"name":"tool_choice","value":"={{ {\"type\": \"code_interpreter\"} }}"},{"name":"tools","value":"={{ [{\"type\": \"code_interpreter\"}] }}"}]},"options":{}},"id":"eee97fad-a0e9-4a42-bc61-8bf2fbf105d5","name":"OPENAI - Run assistant","type":"n8n-nodes-base.httpRequest","position":[1940,1580],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('OPENAI - Create thread').item.json.id }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"016e8d67-0b6b-4b30-99ab-54149aa1159e","name":"OPENAI - Get messages","type":"n8n-nodes-base.httpRequest","position":[2140,1580],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"url":"=https://api.openai.com/v1/files/{{ $json.data[0].attachments[0]?.file_id ?? $json.data[0].content.find(x=>x.type==\"image_file\")?.image_file.file_id }}/content","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"a91fd09e-d2d9-4410-be45-e15b8dd0566c","name":"OPENAI - Download File","type":"n8n-nodes-base.httpRequest","position":[2580,1580],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"5b6745c0-ef42-4a0c-94bf-3691aa1ba8c1","name":"OPENAI - Create thread","type":"n8n-nodes-base.httpRequest","position":[1540,1580],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fcb24127-53f9-4498-b0fd-463bd4966ac9","leftValue":"={{ $json.data[0].attachments[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"016ecba7-f6af-4881-a7d6-780dcb43223c","leftValue":"={{ $json.data[0].content.find(x=>x.type==\"image_file\").image_file.file_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2300,1580],"id":"dec46ee7-d486-415c-b098-5c5323ff6b6a","name":"If1"},{"parameters":{"method":"POST","url":"=https://tmpfiles.org/api/v1/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"5242de54-13c5-488e-ad92-caab4f0d251e","name":"Upload File","type":"n8n-nodes-base.httpRequest","position":[2760,1580],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"cfdbe2f5-921e-496d-87bd-9c57fdc22a7a","name":"response","value":"={{ $json.data.url.replace('org/','org/dl/') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"edb255d2-58e5-489d-9894-216902ffae01","name":"Response1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2940,1580]},{"parameters":{"content":"### Replace Airtable connection","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","position":[2300,1400],"typeVersion":1,"id":"ff591361-10f3-4cd7-9145-e48990fc31bd","name":"Sticky Note4"},{"parameters":{"content":"### Replace OpenAI connection","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","position":[1920,1460],"typeVersion":1,"id":"0eab2b1e-eba1-4516-8668-f5384e7261b8","name":"Sticky Note5"},{"parameters":{"content":"### Replace Airtable connection","height":80,"width":160},"type":"n8n-nodes-base.stickyNote","position":[1720,720],"typeVersion":1,"id":"24b0f114-27ab-4d5d-891e-b6df9f280f09","name":"Sticky Note6"},{"parameters":{"content":"### Replace OpenAI connection","height":80,"width":1180},"type":"n8n-nodes-base.stickyNote","position":[1540,1760],"typeVersion":1,"id":"974d96f6-a7c0-4ab9-894a-53313783ce59","name":"Sticky Note3"},{"parameters":{"content":"### Workflow 2","height":1180,"width":2240,"color":6},"type":"n8n-nodes-base.stickyNote","position":[880,700],"typeVersion":1,"id":"eaab5326-cc93-4d2e-b316-bd6e55bcdbad","name":"Sticky Note8"},{"parameters":{"content":"### ... or watch set up video [20 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Video%2012%20-%20Chat%20with%20Airtable%20Blur.png)](https://youtu.be/SotqsAZEhdc)\n","height":239.5888196628349,"width":330.5152611046425,"color":7},"id":"40ae37ac-7bbd-44d7-9017-06c57e760690","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[480,540],"typeVersion":1},{"parameters":{"content":"### Set up steps\n\n1. **Separate workflows**:\n\t- Create additional workflow and move there Workflow 2.\n\n2. **Replace credentials**:\n\t- Replace connections and credentials in all nodes.\n\n3. **Start chat**:\n\t- Ask questions and don't forget to mention required base name.","height":346,"width":280,"color":7},"id":"26252da2-a8a9-465c-be83-191e1133d3d7","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[180,540],"typeVersion":1}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Bases1","type":"main","index":0}],[{"node":"Get Base/Tables schema1","type":"main","index":0}],[{"node":"If","type":"main","index":0}],[{"node":"OPENAI - Create thread","type":"main","index":0}]]},"Get Bases1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Get Base/Tables schema1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Search":{"main":[[{"node":"Aggregate2","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Set Fields1":{"main":[[{"node":"OpenAI - Extract Line Items","type":"main","index":0}]]},"OpenAI - Extract Line Items":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate":{"main":[[{"node":"Response","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Response","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Set Fields1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Search","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Response","type":"main","index":0}]]},"OPENAI - Send message":{"main":[[{"node":"OPENAI - Run assistant","type":"main","index":0}]]},"OPENAI - Run assistant":{"main":[[{"node":"OPENAI - Get messages","type":"main","index":0}]]},"OPENAI - Get messages":{"main":[[{"node":"If1","type":"main","index":0}]]},"OPENAI - Download File":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"OPENAI - Create thread":{"main":[[{"node":"OPENAI - Send message","type":"main","index":0}]]},"If1":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"OPENAI - Download File","type":"main","index":0}]]},"Upload File":{"main":[[{"node":"Response1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"command":"get_bases"}}]},"versionId":"8e257431-9b8c-43f7-b78a-b354f0c0ce6f","triggerCount":0,"tags":[{"createdAt":"2025-01-16T18:47:19.564Z","updatedAt":"2025-01-16T18:47:19.564Z","id":"yRW0uhvsnWFNeN7d","name":"N8N Template"}]}