customer-feedback---project-6-aKNZskHU0N2fz4pZ.json
{"createdAt":"2025-01-16T03:24:45.873Z","updatedAt":"2025-01-16T05:20:49.761Z","id":"aKNZskHU0N2fz4pZ","name":"Customer feedback - project 6","active":false,"nodes":[{"parameters":{"path":"feedback","formTitle":"Customer Feedback","formDescription":"Please provide your feedback here...","formFields":{"values":[{"fieldLabel":"Name","placeholder":"Please type your full name here...","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"Please type your email here..."},{"fieldLabel":"Feedback ","placeholder":"Please provide your feedback here...","requiredField":true}]},"options":{}},"id":"7dcaf64a-ce86-48f5-912c-f344a7235e39","name":"n8n Form Trigger","type":"n8n-nodes-base.formTrigger","typeVersion":2.1,"position":[-1060,60],"webhookId":"0baed415-6c25-436a-9f09-07658d1d88d0"},{"parameters":{},"id":"23dccc2e-c29e-4dcd-8619-522e9902d408","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-800,380]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appESwHKmEGbHzjuz","mode":"list","cachedResultName":"n8n feedback","cachedResultUrl":"https://airtable.com/appESwHKmEGbHzjuz"},"table":{"__rl":true,"value":"tbl1lsxkyWlSxZm2H","mode":"list","cachedResultName":"Compliment","cachedResultUrl":"https://airtable.com/appESwHKmEGbHzjuz/tbl1lsxkyWlSxZm2H"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.Name }}","Email":"={{ $json.Email }}","Feedback":"={{ $json['Feedback '] }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Feedback","displayName":"Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"867b55b9-9025-4205-b166-a49f08402b0d","name":"Compliment","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appESwHKmEGbHzjuz","mode":"list","cachedResultName":"n8n feedback","cachedResultUrl":"https://airtable.com/appESwHKmEGbHzjuz"},"table":{"__rl":true,"value":"tbldPkXtyQ7MfVfb1","mode":"list","cachedResultName":"Complaint","cachedResultUrl":"https://airtable.com/appESwHKmEGbHzjuz/tbldPkXtyQ7MfVfb1"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.Name }}","Email":"={{ $json.Email }}","Feedback":"={{ $json['Feedback '] }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Feedback","displayName":"Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"8f426a03-9f02-440e-a23f-4c04822c8d4d","name":"Complaint","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,180],"credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appESwHKmEGbHzjuz","mode":"list","cachedResultName":"n8n feedback","cachedResultUrl":"https://airtable.com/appESwHKmEGbHzjuz"},"table":{"__rl":true,"value":"tblcsBnskSuoyOXeW","mode":"list","cachedResultName":"Feature Request","cachedResultUrl":"https://airtable.com/appESwHKmEGbHzjuz/tblcsBnskSuoyOXeW"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.Name }}","Email":"={{ $json.Email }}","Feedback":"={{ $json['Feedback '] }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Feedback","displayName":"Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"f9c102e9-e819-4a6c-a07c-20c91b6d8516","name":"Feature Request","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,380],"credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Your role is to determine if a customer feedback is a Feature Request, a Compliment, or a Complaint. \n\nHere is the customer feedback:   {{ $json['Feedback '] }}\n\nPlease make sure your output is only one of three: Feature Request, a Compliment, Complaint. \n","options":{}},"id":"48444e08-c6a6-4ca2-9dd7-c6cbd1b392b4","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-820,180]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"8b3c5a2d-9d03-4524-a70e-3d2afe64922c","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-480,20]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0268dd35-2efd-4478-947c-6a2b0a57d01f","leftValue":"={{ $json.output }}","rightValue":"Compliment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Compliment"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08be5a73-137a-49c6-8b20-5ef9e5293284","leftValue":"={{ $json.output }}","rightValue":"Complaint","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Complaint"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9198de3e-5552-4506-841a-a652a87e999e","leftValue":"={{ $json.output }}","rightValue":"Feature Request","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Feature Request"}]},"options":{}},"id":"56bb4338-417e-48e6-a8af-853cebfe633b","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-300,200]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07P2E6LE9E","mode":"list","cachedResultName":"customer-feedback"},"text":"={{ $json.fields.Feedback }}","otherOptions":{}},"id":"881a0532-a166-45c6-a4d2-9fe99f2c6545","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[220,0],"webhookId":"7e5ec46b-389b-434a-b2e5-5e6b49f8b45c","credentials":{"slackApi":{"id":"uoIIl2OOl4v3XmE6","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07MTUQASCF","mode":"list","cachedResultName":"customer-feature-request"},"text":"={{ $json.fields.Response }}","otherOptions":{}},"id":"b128a6f2-b4ed-4a6b-9b60-192716063ca5","name":"Slack1","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[220,380],"webhookId":"eb80539c-467b-4310-a79e-86bb899bb7bd","credentials":{"slackApi":{"id":"uoIIl2OOl4v3XmE6","name":"Slack account"}}},{"parameters":{"sendTo":"={{ $json.fields.Email }}","subject":"Customer Complaint Response","message":"=Hello {{ $('Merge').item.json.Name }} I am sorry for the incovnwe f","options":{}},"id":"b8812c81-7967-4be3-8d0a-82d8ca86e031","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[220,180],"webhookId":"20b9ca20-5a5d-406f-a7f7-68ee5fd5bc98","credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}},{"parameters":{"options":{"baseURL":"https://openrouter.ai/api/v1"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1040,320],"id":"483237e2-a407-43f1-bd08-cd1c97dd5511","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"openrouter synapse-ai"}}}],"connections":{"n8n Form Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Compliment","type":"main","index":0}],[{"node":"Complaint","type":"main","index":0}],[{"node":"Feature Request","type":"main","index":0}]]},"Compliment":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Feature Request":{"main":[[{"node":"Slack1","type":"main","index":0}]]},"Complaint":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b275ae2b-057d-4d0a-b209-43b7b52e4c6a","triggerCount":0,"tags":[]}