google-sheets-trigger-customers.-V4mp8BmkdHNznCyO.json
{"createdAt":"2025-01-05T23:13:00.450Z","updatedAt":"2025-01-06T00:57:47.952Z","id":"V4mp8BmkdHNznCyO","name":"Google Sheets trigger customers.","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g","mode":"list","cachedResultName":"Customer Orders","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-580,-20],"id":"64555626-5059-4baa-aa97-daad49444af3","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"kzpa9Jr8qAn6tAj5","name":"Google Sheets Trigger account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=You are in charge of client orders. Your job is to take incoming information regarding new orders and give a nice summary that will be emailed to the team. The email should be signed off from \"Customer Success Team\".\nHere is the information on client orders.\nOrder ID:{{ $json.OrderID }}\nCustomer Name:{{ $json.CustomerName }}\nProduct:{{ $json.Product }}\nQuantity:{{ $json.Quantity }}\nPrice:{{ $json.Price }}\nOrder Date:{{ $json.OrderDate }}\nStatus:{{ $json.Status }}\n\nPlease output the following parameters:\nEmail Subject\nEmail Body "}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-360,-20],"id":"3f375b2e-98bb-4a31-b6ad-068201badd97","name":"Summarize","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"OpenAi account 2"}}},{"parameters":{"sendTo":"=tarasmazepa95@gmail.com","subject":"={{ $json.message.content['Email Subject'] }}","emailType":"text","message":"={{ $json.message.content['Email Body'] }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,-20],"id":"19813f35-c5b1-457d-9f49-278beb531e1b","name":"Gmail","webhookId":"a3d8c13e-c116-4005-9e31-7061ae7e1df6","credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g","sheetId":0,"lastRevision":23,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g&revision=23&exportFormat=xlsx"}},"meta":null,"pinData":{},"versionId":"b52786c0-cdd6-485a-a041-d8a9bf1ff37e","triggerCount":1,"tags":[]}