google-sheets-trigger-customers---azure-openai-fzCJ7MxgeIkqAy81.json
{"createdAt":"2025-01-06T15:34:54.672Z","updatedAt":"2025-01-07T02:07:50.763Z","id":"fzCJ7MxgeIkqAy81","name":"Google Sheets trigger customers - azure openai","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g","mode":"list","cachedResultName":"Customer Orders","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-860,-80],"id":"4b133a29-14f1-4d95-8c3e-790176391af5","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"kzpa9Jr8qAn6tAj5","name":"Google Sheets Trigger account 2"}}},{"parameters":{"sendTo":"=tarasmazepa95@gmail.com","subject":"={{ $json.text }}","emailType":"text","message":"={{ $json.text }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,-20],"id":"189b73c8-ba06-4f7d-aa7d-5219c339828f","name":"Gmail","webhookId":"d570f00b-77f7-48d8-85fd-90c305e88da7","credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=You are in charge of client orders. Your job is to take incoming information regarding new orders and give a nice summary that will be emailed to the team. The email should be signed off from \"Customer Success Team\".\nHere is the information on client orders.\nOrder ID:{{ $json.OrderID }}\nCustomer Name:{{ $json.CustomerName }}\nProduct:{{ $json.Product }}\nQuantity:{{ $json.Quantity }}\nPrice:{{ $json.Price }}\nOrder Date:{{ $json.OrderDate }}\nStatus:{{ $json.Status }}\n\nPlease output the following parameters:\nEmail Subject\nEmail Body "},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-420,200],"id":"e6c42e43-a4d2-4846-a7a4-8fa6658997d5","name":"Basic LLM Chain"},{"parameters":{"model":"gpt-4o","options":{"timeout":6000}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-200,420],"id":"a68e1485-87fb-4855-9df8-8be0bc5c3db0","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"PMlgZclw4ijCd9Xh","name":"Azure Open AI account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-980,280],"id":"c76f42e7-06da-4721-93df-d7947eb1e6c5","name":"Loop Over Items"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g","sheetId":0,"lastRevision":23,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1BlaJpgPhAIE69rriISHGHEgijUZGSGTL9HaE4yO6N5g&revision=23&exportFormat=xlsx"}},"meta":null,"pinData":{},"versionId":"833566b8-1efa-4238-99fc-ba4fe38f13c0","triggerCount":1,"tags":[]}