hr-prescreening-candidate-IXXfhvxKbWUL0h0N.json
{"createdAt":"2025-01-20T16:34:14.580Z","updatedAt":"2025-01-20T20:45:59.851Z","id":"IXXfhvxKbWUL0h0N","name":"HR Prescreening Candidate","active":true,"nodes":[{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Apply","description":"Candidate apply for a position in the organization"},{"category":"Doesn't apply","description":"This candidate doesn't apply for a job"}]},"options":{"systemPromptTemplate":"=Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[180,0],"id":"bff2a972-d983-40da-9429-37ebc1147448","name":"Text Classifier","alwaysOutputData":false},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[140,200],"id":"954c1404-8988-444c-8034-d503a5b0cc80","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,0],"id":"f84ba321-eb33-4965-a9ab-27f7db64b4cb","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[560,280],"id":"ade3504b-f912-4297-b156-844e29e8a4a3","name":"No Operation, do nothing"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app7wOPm0q68lPCl0","mode":"list","cachedResultName":"HR Analysts ","cachedResultUrl":"https://airtable.com/app7wOPm0q68lPCl0"},"table":{"__rl":true,"value":"tblG3uo0o437oNkjx","mode":"list","cachedResultName":"Candidates","cachedResultUrl":"https://airtable.com/app7wOPm0q68lPCl0/tblG3uo0o437oNkjx"},"columns":{"mappingMode":"defineBelow","value":{"Email content":"={{ $('Text Classifier').item.json.text }}","Summary":"={{ $json.output.fit_score.reasoning.join('\\n') }}","Email":"={{ $json.output.candidate.email }}","First Name":"={{ $json.output.candidate.first_name }}","Last Name":"={{ $json.output.candidate.last_name }}","Scoring":"=Overall: {{ $json.output.fit_score.overall }}\n\nBreakdown\nExperience: {{ $json.output.fit_score.breakdown.experience }}\nTechnical Skills: {{ $json.output.fit_score.breakdown.technical_skills }}\nAchievement: {{ $json.output.fit_score.breakdown.achievements }}\nEducation: {{ $json.output.fit_score.breakdown.education }}","Status":"In Review","id":"={{ $('Upload CV').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email content","displayName":"Email content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CV","displayName":"CV","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Scoring","displayName":"Scoring","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pending Review","value":"Pending Review"},{"name":"In Review","value":"In Review"},{"name":"Interview scheduled","value":"Interview scheduled"},{"name":"No fit","value":"No fit"}],"readOnly":false,"removed":false},{"id":"Job Description","displayName":"Job Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Position (from Job Description)","displayName":"Position (from Job Description)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2400,680],"id":"a8f36e97-38c7-437d-83e2-2677aaf5e8ab","name":"Airtable","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"inputDataFieldName":"=attachment_0","name":"=","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16HaOmd2qRBelxvoNImGqpcM_uUfRizRC","mode":"list","cachedResultName":"CV","cachedResultUrl":"https://drive.google.com/drive/folders/16HaOmd2qRBelxvoNImGqpcM_uUfRizRC"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[960,0],"id":"68ea0c38-0ecf-452d-a450-343fd148d8be","name":"Upload Attachment","credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1160,0],"id":"77d613d5-fd7d-4ad8-87af-c402d8c74065","name":"Share link","credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"918ace56-02a1-4bb7-8238-ee1b49241eca","name":"PDF","value":"={{ [{ \"url\" : $('Upload Attachment').item.json.webContentLink}] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1320,0],"id":"84855669-c04b-4e59-86fb-16584be79c7c","name":"Set Array for Airtable"},{"parameters":{"promptType":"define","text":"=Analyze the current information from the received candidate and score between 0 to 10 the said candidate, 0 meaning not a good fit for the position, 10 being outstanding for the job.\n\nThe actual position being open is: {{ $('Airtable1').item.json['Job Description'] }}\n\nSee the extracted PDF information: {{ $('Extract from File1').item.json.text }}\n\nProvide some key insight on why this candidate is a good fit for the position as well","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful HR assistant. Your goal is to analyze the CV of the candidate and see if the candidate is a good candidate for the position.","maxIterations":1}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1880,680],"id":"26b5921d-6cb4-4ce8-83cf-756b119cda6d","name":"AI Agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app7wOPm0q68lPCl0","mode":"list","cachedResultName":"HR Analysts ","cachedResultUrl":"https://airtable.com/app7wOPm0q68lPCl0"},"table":{"__rl":true,"value":"tbl0jsqfb4HGVAONN","mode":"list","cachedResultName":"Job Description","cachedResultUrl":"https://airtable.com/app7wOPm0q68lPCl0/tbl0jsqfb4HGVAONN"},"filterByFormula":"{Status} = 'Open Position'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1520,680],"id":"2829a831-294f-4f3b-a807-afd4c87ee252","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"options":{"baseURL":"https://openrouter.ai/api/v1"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1800,980],"id":"727579a8-a39f-4dae-a986-07866d5a271c","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"openrouter synapse-ai"}}},{"parameters":{"jsonSchemaExample":"{\n \"candidate\": {\n   \"first_name\": \"string\",\n   \"last_name\":\"string\",\n   \"email\": \"string\",\n   \"location\": \"string\",\n   \"phone\": \"string\"\n },\n \"summary\": {\n   \"years_experience\": \"number\",\n   \"current_role\": \"string\", \n   \"key_achievements\": [\"string\"],\n   \"technical_skills\": [\"string\"]\n },\n \"fit_score\": {\n   \"overall\": \"number\",\n   \"breakdown\": {\n     \"experience\": \"number\",\n     \"technical_skills\": \"number\", \n     \"achievements\": \"number\",\n     \"education\": \"number\"\n   },\n   \"reasoning\": [\"string\"]\n }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2160,980],"id":"9cb109f3-eff8-4427-9288-c101e5e2c7ab","name":"Structured Output Parser"},{"parameters":{"operation":"pdf","binaryPropertyName":"attachment_0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1160,260],"id":"aab49de3-d314-499c-b372-9a555dc51a1f","name":"Extract from File1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"attachment_0","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f080824e-4237-4959-af6a-74b9d9a3c8ea","leftValue":"attachment_0","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,0],"id":"665f427e-f77e-4d7a-bf25-797ac6052971","name":"Switch","alwaysOutputData":true},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1680,120],"id":"00a4ebee-47a5-40ce-ab0d-e463a5cc1f62","name":"Merge1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app7wOPm0q68lPCl0","mode":"list","cachedResultName":"HR Analysts ","cachedResultUrl":"https://airtable.com/app7wOPm0q68lPCl0"},"table":{"__rl":true,"value":"tblG3uo0o437oNkjx","mode":"list","cachedResultName":"Candidates","cachedResultUrl":"https://airtable.com/app7wOPm0q68lPCl0/tblG3uo0o437oNkjx"},"columns":{"mappingMode":"defineBelow","value":{"CV":"={{ $json.PDF }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email content","displayName":"Email content","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CV","displayName":"CV","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Scoring","displayName":"Scoring","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Pending Review","value":"Pending Review"},{"name":"In Review","value":"In Review"},{"name":"Interview scheduled","value":"Interview scheduled"},{"name":"No fit","value":"No fit"}],"readOnly":false,"removed":false},{"id":"Job Description","displayName":"Job Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Position (from Job Description)","displayName":"Position (from Job Description)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1480,0],"id":"6e1a577a-8f5b-4b3d-8586-f91e12920edd","name":"Upload CV","credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Upload Attachment":{"main":[[{"node":"Share link","type":"main","index":0}]]},"Share link":{"main":[[{"node":"Set Array for Airtable","type":"main","index":0}]]},"Set Array for Airtable":{"main":[[{"node":"Upload CV","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Extract from File1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Upload Attachment","type":"main","index":0}],[{"node":"Extract from File1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"Upload CV":{"main":[[{"node":"Merge1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1737414192,"possibleDuplicates":["19485f4b1683fca9","19485db5500b58b5"]}}},"meta":null,"pinData":{},"versionId":"cb5eaa2e-d925-4e8e-8490-1780038ec49e","triggerCount":1,"tags":[]}