internet-connection-to-retellai-uK9vQiJXkTBP2nEP.json
{"createdAt":"2025-01-13T22:55:27.047Z","updatedAt":"2025-01-14T15:27:47.710Z","id":"uK9vQiJXkTBP2nEP","name":"Internet connection to retellai","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendBody":true,"bodyParameters":{"parameters":[{"name":"api_key","value":"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"},{"name":"query","value":"={{ $json.body.args.query }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,-20],"id":"0a62d493-9506-424b-bf8a-d2f6875992bb","name":"HTTP Request"},{"parameters":{"httpMethod":"POST","path":"92df8634-c190-4c83-afab-ee27c26f6c47","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,-20],"id":"a4dfc6fa-cf33-4f99-804b-253c02415bb2","name":"Webhook","webhookId":"92df8634-c190-4c83-afab-ee27c26f6c47"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[20,-20],"id":"77330287-578b-4135-b52f-3a69760d2a48","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3484d883-e40f-4d31-8633-95cf863a34e4","triggerCount":1,"tags":[]}