my-workflow-13-1KGhat6GTgb5lBE4.json
{"createdAt":"2025-01-16T19:49:31.183Z","updatedAt":"2025-01-16T19:49:31.183Z","id":"1KGhat6GTgb5lBE4","name":"My workflow 13","active":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"4671b9fa-1312-49a2-b1ba-0e92fbe34d5d","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,120],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-f512QXzFoYzYytrYi8KBGZYZwVOgkWCMJMjFM9vDxcs6AGjU"},{"name":"parsing_instruction","value":"Please extract invoice line items: Name, Quantity, Unit Price, Amount "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"webhook_url","value":"https://primary-production-ea41.up.railway.app/webhook-test/0f7f5ebb-8b66-453b-a818-20cc3647c783"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"disable_ocr","value":"true"},{"name":"disable_image_extraction","value":"True"}]},"options":{}},"id":"0ef0632d-2107-4cb9-8c99-b494b75d17e3","name":"Upload File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,120]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VKv5k7vXY0-q7Dz_KH50LSE23LuieWxR","mode":"list","cachedResultName":"Invoices","cachedResultUrl":"https://drive.google.com/drive/folders/1VKv5k7vXY0-q7Dz_KH50LSE23LuieWxR"},"event":"fileCreated","options":{}},"id":"d59c89c2-4830-4b04-b8dc-3cd2a5373256","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[200,120],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"content":"## Scenario 1\n\n","height":400,"width":920},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"d56deb32-6415-4b2e-aa10-5e402597731b","name":"Sticky Note1"},{"parameters":{"content":"### Replace Google Drive connection","height":80,"width":270,"color":3},"type":"n8n-nodes-base.stickyNote","position":[220,300],"typeVersion":1,"id":"f9574aa8-618f-442f-9148-43bb1eefdcba","name":"Sticky Note2"},{"parameters":{"content":"### Replace API key in header and Webhook address with address from 2nd scenario","height":80,"width":270,"color":3},"type":"n8n-nodes-base.stickyNote","position":[580,300],"typeVersion":1,"id":"e0ff1c06-33fa-4496-be7a-ee7044b6c4af","name":"Sticky Note3"}],"connections":{"Google Drive":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c632df2d-bfd2-4f67-86b9-b8c80e9ee4bf","triggerCount":0,"tags":[]}