n8n-voice-agent---project-2-(pinecone)-gDnUlt5bG9jf5lUZ.json
{"createdAt":"2025-01-14T18:29:30.738Z","updatedAt":"2025-01-15T17:27:20.026Z","id":"gDnUlt5bG9jf5lUZ","name":"N8n voice agent - project 2 (pinecone)","active":false,"nodes":[{"parameters":{"options":{"baseURL":"https://openrouter.ai/api/v1"}},"id":"3b08387a-ee60-42e4-9834-872a16f7f144","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[160,180],"credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"OpenAi account 5"}}},{"parameters":{"options":{"baseURL":"https://openrouter.ai/api/v1"}},"id":"e70488cb-8fa5-408d-a00e-7de1ba4c6e50","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[500,360],"credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"OpenAi account 5"}}},{"parameters":{"options":{}},"id":"539214c1-dba0-44e2-9b4a-024436153487","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[240,480],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"id":"1fa3a507-a5ad-43e4-b50e-f5640f3ccdcb","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[520,0]},{"parameters":{"name":"projects","description":"Retrieves information about our projects"},"id":"b4de222f-fed3-4320-be93-1f143950c2c2","name":"projects","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[280,180]},{"parameters":{"promptType":"define","text":"={{ $json.body.question }}","options":{}},"id":"c9f3d88c-4515-4ef3-83b3-7f7cfd161b5a","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,0]},{"parameters":{"httpMethod":"POST","path":"49722672-55e9-4d87-895f-ba9b1d540315","responseMode":"responseNode","options":{}},"id":"62f1f5cb-26ec-4b8c-a8c6-98de66c07c80","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"49722672-55e9-4d87-895f-ba9b1d540315"},{"parameters":{"pineconeIndex":{"__rl":true,"value":"sample","mode":"list","cachedResultName":"sample"},"options":{"pineconeNamespace":"projects"}},"id":"ca31cb81-dd69-4583-ba90-f92f93a3adf5","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[220,360],"credentials":{"pineconeApi":{"id":"YuOOq2VkgOHwx5hs","name":"PineconeApi account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"projects","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"projects":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"projects","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5f2c602b-c2a0-4d1d-aafd-5f3f9c1a2780","triggerCount":0,"tags":[]}