n8n-voice-agent---project-2-(supabase)-6YiA0KES7lG7KuSh.json
{"createdAt":"2025-01-15T17:27:57.439Z","updatedAt":"2025-01-16T00:54:36.938Z","id":"6YiA0KES7lG7KuSh","name":"N8n voice agent - project 2 (supabase)","active":false,"nodes":[{"parameters":{"model":"openai/gpt-4o-mini","options":{"baseURL":"https://openrouter.ai/api/v1"}},"id":"5e9c2f10-cb90-4a80-98d0-93955e52cba3","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[160,180],"credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"openrouter synapse-ai"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{"baseURL":"https://openrouter.ai/api/v1"}},"id":"f0a9fb01-a8c6-4d30-b0f9-39f03f1a1492","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[500,360],"credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"openrouter synapse-ai"}}},{"parameters":{"options":{}},"id":"0289693d-b88f-436c-bc21-4cb5bf7393a8","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[240,480],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"options":{}},"id":"c27b3951-7950-4e93-80f7-213d272cd670","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[520,0]},{"parameters":{"name":"projects","description":"Retrieves information about our projects"},"id":"cd3652a8-357a-49eb-a0eb-d0d557d5ce68","name":"projects","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[300,200]},{"parameters":{"promptType":"define","text":"={{ $json.body.question }}","options":{}},"id":"508c0ab8-f6e6-46bc-a234-88eca4e14b27","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,0]},{"parameters":{"httpMethod":"POST","path":"f1d19464-3925-4c7e-a63b-62f8d7b794f2","responseMode":"responseNode","options":{}},"id":"6d2a440a-abe8-496c-8e21-b919cf2aeee0","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"f1d19464-3925-4c7e-a63b-62f8d7b794f2"},{"parameters":{"sessionIdType":"customKey","sessionKey":"session_id"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-160,220],"id":"5ec644a4-6ea9-4306-bf56-ad9b03511295","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"YY2XkyUUrwYbUVrU","name":"Postgres account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents_project2","mode":"list","cachedResultName":"documents_project2"},"options":{"queryName":"match_documents_project2"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-20,360],"id":"3e93b590-bc4f-47bb-a6d5-bd1ffca01ad5","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"PRlrrpKn88IGJQdq","name":"Supabase account 6"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"projects","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"projects":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"projects","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9e8fd71e-c324-4545-b0cd-6f8cd7043899","triggerCount":1,"tags":[]}