project-9---airtable-agent-fLIwLpr2qrDkAwEn.json
{"createdAt":"2025-01-16T20:18:50.345Z","updatedAt":"2025-01-16T21:11:45.632Z","id":"fLIwLpr2qrDkAwEn","name":"Project 9 - airtable agent","active":false,"nodes":[{"parameters":{"options":{}},"id":"aa58df80-5f6d-4a80-9656-a45618a11cee","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[920,480],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are Airtable assistant. \nYou need to process user's requests and run relevant tools for that. \n\nPlan and execute in right order runs of tools to get data for user's request.\n\nFeel free to ask questions before do actions - especially if you noticed some inconcistency in user requests that might be error/misspelling. \n\nIMPORTANT Always check right table and base ids before doing queries.\n\nIMPORTANT Use Code function to do aggregation functions that requires math like - count, sum, average and etc.  Aggegation function could be recognized by words like \"how many\",\"count\",\"what number\" and etc.\nUse Code function to generate graph and images.\n\nIMPORTANT If search with filter failed - try to fetch records without filter\n\nIMPORTANT Ask yourself before answering - am I did everything is possible? Is the answer is right? Is the answer related to user request?\n\nIMPORTANT Always return in response name of Base and Table where records from. ","maxIterations":10}},"id":"df131efa-a09c-41e4-b4a2-b33041dbecdd","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1160,200]},{"parameters":{"name":"get_base_tables_schema","description":"Fetches the schema of tables in a specific base by id.\n\nInput:\nbase_id: appHwXgLVrBujox4J\n\nOutput:\ntable 1: field 1 - type string, fields 2 - type number","workflowId":{"__rl":true,"value":"zVd0G4m33K6KrBvV","mode":"list","cachedResultName":"Airtable Agent Tools"},"fields":{"values":[{"name":"command","stringValue":"get_base_tables_schema"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"base_id\": {\n      \"type\": \"string\",\n      \"description\": \"ID of the base to retrieve the schema for. Format - appHwXgLVrBujox4J\"\n    }\n  },\n  \"required\": [\"base_id\"]\n}"},"id":"e258429a-7307-4477-b287-800f6edd3195","name":"get_base_tables_schema","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1340,480]},{"parameters":{"name":"get_bases","description":"Fetches the list of available bases.\n\nOutput:\n- List of bases with their IDs and names.","workflowId":{"__rl":true,"value":"zVd0G4m33K6KrBvV","mode":"list","cachedResultName":"Airtable Agent Tools"},"fields":{"values":[{"name":"command","stringValue":"get_bases"}]}},"id":"36c16718-93e6-4191-a18f-feff6899da23","name":"get_bases","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1220,480]},{"parameters":{"name":"search","description":"Search records in specific base and table.\n\n- Use Filter (optional) rules for filtering - describe what logic you want to see in filter including field names. \nIMPORTANT - specify all related fields with types for Filter query with right names based on schema. Tool doesn't know schema and type of fields.\n\n- Use Limit (optional) to get more/less records - default = All records. IMPORTANT use default value only when user ask to get all records for analysis.\n\n- Always try to limit list of fields based on user request or in case of number of fields > 30. IMPORTANT Use fields names only.\n \n- Sort by one/multiple fields if needed - order in array is order of level for sorting.\n\nInput example:\nbase_id - appHwXgLVrBujox4J\ntable_id - tblrGzFneREP5Dktl\nlimit - 100\nsort (optional) - [{\"field\":\"Name\",\"direction\":\"asc\"}]\nfilter_desc (optional) - field Name (string) should be equal/contains Mark\nfields (optional) - [\"Name\",\"Email\"]\n\nOutput example:\nRecord 1 - value 1, value 2","workflowId":{"__rl":true,"value":"zVd0G4m33K6KrBvV","mode":"list","cachedResultName":"Airtable Agent Tools"},"fields":{"values":[{"name":"command","stringValue":"search"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"base_id\": {\n      \"type\": \"string\",\n      \"description\": \"ID of the base to search in\"\n    },\n    \"table_id\": {\n      \"type\": \"string\",\n      \"description\": \"ID of the table to search in\"\n    },\n    \"limit\": {\n      \"type\": \"number\",\n      \"description\": \"Number of records to retrieve (default is all records)\"\n    },\n    \"filter_desc\": {\n      \"type\": \"string\",\n      \"description\": \"Text description of the filter logic\"\n    },\n    \"sort\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"field\": { \"type\": \"string\" },\n          \"direction\": { \"type\": \"string\", \"enum\": [\"asc\", \"desc\"] }\n        },\n        \"required\": [\"field\", \"direction\"]\n      },\n      \"description\": \"Array of sorting rules for the query\"\n    },\n    \"fields\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"List of fields to retrieve\"\n    }\n  },\n  \"required\": [\"base_id\", \"table_id\"]\n}"},"id":"0d3682f4-39d2-4a01-b730-dbe43ea8c0e4","name":"search","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1480,480]},{"parameters":{"name":"code","description":"Process data with code. Use for math functions and image (graphs) generation. \nIMPORTANT Provide raw data only, don't preprocess or use math functions by yourself\n\nInput example:\nrequest - Count average\ndata - 1,2,3\n\nOutput example:\nAverage is 2\nImage file","workflowId":{"__rl":true,"value":"zVd0G4m33K6KrBvV","mode":"list","cachedResultName":"Airtable Agent Tools"},"fields":{"values":[{"name":"command","stringValue":"code"}]},"specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"request\": {\n      \"type\": \"string\",\n      \"description\": \"Description of the operation to perform.\"\n    },\n    \"data\": {\n      \"type\": \"string\",\n      \"description\": \"Stringified data - JSON, strings, arrays and etc.\"\n    }\n  },\n  \"required\": [\"request\", \"data\"]\n}"},"id":"de812cbb-f04e-4a01-8697-f43e31b157dd","name":"code","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1600,480]},{"parameters":{"name":"create_map","description":"Create link with image for map graph.\nUse addresses' longitude and latitude to create input data.\n\nInput Example:\npin-s+555555(-74.006,40.7128),pin-s+555555(-118.2437,34.0522)\n\nOutput Example:\nImage link.","jsCode":"// Example: convert the incoming query to uppercase and return it\n\nreturn `https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/${query.markers}/-96.9749,41.8219,3.31,0/800x500?before_layer=admin-0-boundary&access_token=pk.eyJ1IjoiaGljaG9jayIsImEiOiJjbTU0ZWt1Zm8yZngyMmlzZnAwa3kxODY1In0.sWng_ORRZhRMzN6v75q6rw`;","specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n\"type\": \"object\",\n\"properties\": {\n\t\"markers\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"List of markers with longitude and latitude data separated by comma. Keep the same color 555555|Example: pin-s+555555(-74.006,40.7128),pin-s+555555(-118.2437,34.0522)\"\n\t\t}\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1740,480],"id":"51590b53-68f5-4c1a-b9e2-b193eb3279a7","name":"create_map"},{"parameters":{"content":"### Replace Mapbox public key","height":80},"type":"n8n-nodes-base.stickyNote","position":[1680,620],"typeVersion":1,"id":"d9e00900-39cd-4115-a4ae-3f394962077d","name":"Sticky Note"},{"parameters":{"content":"### Replace OpenAI connection","height":80},"type":"n8n-nodes-base.stickyNote","position":[840,640],"typeVersion":1,"id":"5f24f9dd-5042-493b-aba0-dc9623963ab4","name":"Sticky Note1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1100,480],"id":"7c3e2eb4-df17-4a07-bb4a-ff1ad4cd7fce","name":"Window Buffer Memory"},{"parameters":{"content":"### Replace Airtable workspace_id","height":80,"width":200},"type":"n8n-nodes-base.stickyNote","position":[920,80],"typeVersion":1,"id":"5104fb7f-cd43-450a-b60a-afa201cc3b9c","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[940,200],"id":"5dc890b3-734b-4522-b7a6-2b3a87fcd81a","name":"When chat message received","webhookId":"abf9ab75-eaca-4b91-b3ba-c0f83d3daba4"},{"parameters":{"content":"### Workflow 1","height":780,"width":1320,"color":6},"type":"n8n-nodes-base.stickyNote","position":[700,0],"typeVersion":1,"id":"06f578f6-1569-44b8-b118-48fbb28ea60e","name":"Sticky Note7"},{"parameters":{"content":"### ... or watch set up video [20 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Video%2012%20-%20Chat%20with%20Airtable%20Blur.png)](https://youtu.be/SotqsAZEhdc)\n","height":239.5888196628349,"width":330.5152611046425,"color":7},"id":"3ce067bc-47b7-4e85-8a10-543025d3c323","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[300,680],"typeVersion":1},{"parameters":{"content":"![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/banner.png)\n## AI Agent to chat with Airtable and analyze data\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai)**\n\nEngaging with data stored in Airtable often requires manual navigation and time-consuming searches. This workflow allows users to interact conversationally with their datasets, retrieving essential information quickly while minimizing the need for complex queries.\n\nThis workflow enables an AI agent to facilitate chat interactions over Airtable data. The agent can:\n- Retrieve order records, product details, and other relevant data.\n- Execute mathematical functions to analyze data such as calculating averages and totals.\n- Optionally generate maps for geographic data visualization.\n\n1. **Dynamic Data Retrieval**: The agent uses user prompts to dynamically query the dataset.\n2. **Memory Management**: It retains context during conversations, allowing users to engage in a more natural dialogue.\n3. **Search and Filter Capabilities**: Users can perform tailored searches with specific parameters or filters to refine their results.","height":657,"width":636,"color":7},"id":"485197fc-c506-400f-a5a0-069ead347ff4","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### Set up steps\n\n1. **Separate workflows**:\n\t- Create additional workflow and move there Workflow 2.\n\n2. **Replace credentials**:\n\t- Replace connections and credentials in all nodes.\n\n3. **Start chat**:\n\t- Ask questions and don't forget to mention required base name.","height":366,"width":280,"color":7},"id":"5bce92b0-a6d8-4e8c-85a6-2bea550e9a76","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[0,680],"typeVersion":1}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"get_base_tables_schema":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_bases":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"code":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"create_map":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"406e5655-487e-4bc7-a833-c80d4bd28e98","triggerCount":0,"tags":[{"createdAt":"2025-01-16T18:47:19.564Z","updatedAt":"2025-01-16T18:47:19.564Z","id":"yRW0uhvsnWFNeN7d","name":"N8N Template"}]}