project-8---parse-pdf-fADKmB1Pq6mMkVfZ.json
{"createdAt":"2025-01-16T18:50:55.802Z","updatedAt":"2025-01-16T20:03:41.546Z","id":"fADKmB1Pq6mMkVfZ","name":"Project 8 - Parse PDF","active":false,"nodes":[{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"78482258-d12f-4925-b031-3d3fa302188b","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1180,120],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer llx-f512QXzFoYzYytrYi8KBGZYZwVOgkWCMJMjFM9vDxcs6AGjU"},{"name":"parsing_instruction","value":"Please extract invoice line items: Name, Quantity, Unit Price, Amount "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"webhook_url","value":"https://primary-production-ea41.up.railway.app/webhook-test/0f7f5ebb-8b66-453b-a818-20cc3647c783"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"disable_ocr","value":"true"},{"name":"disable_image_extraction","value":"True"}]},"options":{}},"id":"5ea8e051-e0e7-4244-a45a-cf97256b8b78","name":"Upload File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,120]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VKv5k7vXY0-q7Dz_KH50LSE23LuieWxR","mode":"list","cachedResultName":"Invoices","cachedResultUrl":"https://drive.google.com/drive/folders/1VKv5k7vXY0-q7Dz_KH50LSE23LuieWxR"},"event":"fileCreated","options":{}},"id":"bc20b37a-d607-48b1-bda9-340c06b9630c","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[980,120],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appVHtCVlH633iKjn","mode":"list","cachedResultName":"Philipp's Base","cachedResultUrl":"https://airtable.com/appVHtCVlH633iKjn"},"table":{"__rl":true,"value":"tblHcwx8g7QrMB6Ik","mode":"list","cachedResultName":"Invoices","cachedResultUrl":"https://airtable.com/appVHtCVlH633iKjn/tblHcwx8g7QrMB6Ik"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Line Items","displayName":"Line Items","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Amount Due","displayName":"Amount Due","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}]},"options":{}},"id":"a97bc303-25bc-4aff-9c08-c0adf35a2308","name":"Create Invoice","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1460,640],"credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appVHtCVlH633iKjn","mode":"list","cachedResultName":"Philipp's Base","cachedResultUrl":"https://airtable.com/appVHtCVlH633iKjn"},"table":{"__rl":true,"value":"tblL1v2chVWi5sIBR","mode":"list","cachedResultName":"Line Items","cachedResultUrl":"https://airtable.com/appVHtCVlH633iKjn/tblL1v2chVWi5sIBR"},"columns":{"mappingMode":"defineBelow","value":{"Unit price":"={{ parseFloat($json.unit_price.replace('$', '').trim()) }}","Description":"={{ $json.description }}","Qty":"={{ $json.qty }}","Amount":"={{ parseFloat($json.amount.replace('$', '').trim()) }}","Invoices":"=[\"{{ $('Create Invoice').item.json.id }}\"]"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Qty","displayName":"Qty","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Unit price","displayName":"Unit price","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Invoices","displayName":"Invoices","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}]},"options":{}},"id":"48be56fd-ad0f-42d5-9fc7-3ddbcecb0db2","name":"Create Line Item","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1860,640],"credentials":{"airtableTokenApi":{"id":"rYjHtsvvQqIl1Y5Y","name":"Airtable Personal Access Token account"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": {{ JSON.stringify($('Set Fields').item.json.prompt) }}\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify( JSON.stringify($('Webhook').item.json.body.json[0].items) ) }}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {{ $('Set Fields').item.json.schema }}\n\n }\n  }","options":{}},"id":"8cd6e050-e56d-4a9d-8a44-bd459307293f","name":"OpenAI - Extract Line Items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,640],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"assignments":{"assignments":[{"id":"dc09a5b4-ff6a-4cee-b87e-35de7336ac05","name":"prompt","value":"Please, process parsed data and return only needed.","type":"string"},{"id":"4e0f9af6-517f-42af-9ced-df0e8a7118b0","name":"schema","value":"={\n  \"name\": \"generate_schema\",\n  \"description\": \"Generate schema for an array of objects representing items with their descriptions, quantities, unit prices, and amounts.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"items\"\n    ],\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"description\": \"Array of item objects\",\n        \"items\": {\n          \"type\": \"object\",\n          \"required\": [\n            \"description\",\n            \"qty\",\n            \"unit_price\",\n            \"amount\"\n          ],\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Description of the item\"\n            },\n            \"qty\": {\n              \"type\": \"string\",\n              \"description\": \"Quantity of the item\"\n            },\n            \"unit_price\": {\n              \"type\": \"string\",\n              \"description\": \"Unit price of the item formatted as a string\"\n            },\n            \"amount\": {\n              \"type\": \"string\",\n              \"description\": \"Total amount for the item formatted as a string\"\n            }\n          },\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"additionalProperties\": false\n  }\n}","type":"string"}]},"options":{}},"id":"34c2d337-3a0c-451e-96b1-afcd5e787c45","name":"Set Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,640]},{"parameters":{"jsCode":"// Get the input from the \"OpenAI - Extract Line Items\" node\nconst input = $(\"OpenAI - Extract Line Items\").first().json;\n\n// Initialize an array for the output\nconst outputItems = [];\n\n// Navigate to the 'content' field in the choices array\nconst content = input.choices[0]?.message?.content;\n\nif (content) {\n  try {\n    // Parse the stringified JSON in the 'content' field\n    const parsedContent = JSON.parse(content);\n\n    // Extract 'items' and add them to the output array\n    if (Array.isArray(parsedContent.items)) {\n      outputItems.push(...parsedContent.items.map(i => ({ json: i })));\n    }\n  } catch (error) {\n    // Handle any parsing errors\n    console.error('Error parsing content:', error);\n  }\n}\n\n// Return the extracted items\nreturn outputItems;\n"},"id":"260a618e-680d-44a1-9219-efbf09662b22","name":"Process Line Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,640]},{"parameters":{"httpMethod":"POST","path":"0f7f5ebb-8b66-453b-a818-20cc3647c783","options":{}},"id":"cdd3f44b-0846-49f6-b17c-e908c96b5afb","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[840,640],"webhookId":"0f7f5ebb-8b66-453b-a818-20cc3647c783"},{"parameters":{"content":"## Scenario 1\n\n","height":400,"width":920},"type":"n8n-nodes-base.stickyNote","position":[780,0],"typeVersion":1,"id":"db036b8e-2761-480f-a2d8-4bfded881363","name":"Sticky Note1"},{"parameters":{"content":"## Scenario 2\n\n","height":460,"width":1340},"type":"n8n-nodes-base.stickyNote","position":[780,540],"typeVersion":1,"id":"fda433c4-bd2e-43c7-b1a9-46755ff38502","name":"Sticky Note"},{"parameters":{"content":"### Replace Google Drive connection","height":80,"width":270,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1000,300],"typeVersion":1,"id":"3ebde060-c2fc-431c-b275-62bcb39aeb8a","name":"Sticky Note2"},{"parameters":{"content":"### Replace API key in header and Webhook address with address from 2nd scenario","height":80,"width":270,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1360,300],"typeVersion":1,"id":"038bbfc4-88fe-47eb-9752-69468a305c90","name":"Sticky Note3"},{"parameters":{"content":"### Replace OpenAI connection","height":80,"width":170,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1200,840],"typeVersion":1,"id":"8753ed6b-7e78-47e0-be6a-649abb0a777d","name":"Sticky Note4"},{"parameters":{"content":"### Replace Airtable connection","height":80,"width":530,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1460,840],"typeVersion":1,"id":"58baf6c9-a0f8-4332-8afd-6152f59b852a","name":"Sticky Note5"},{"parameters":{"content":"### ... or watch set up video [7 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Video%2010%20-%20Parser%20invoices%20Blur.png)](https://youtu.be/E4I0nru-fa8)\n","height":239.5888196628349,"width":330.5152611046425,"color":7},"id":"de6cae12-fe1b-4458-9eda-d975ab58863b","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[300,680],"typeVersion":1},{"parameters":{"content":"![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/banner.png)\n## AI Agent for realtime insights on meetings\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai)**\n\nTranscribing meetings manually can be tedious and prone to error. This workflow automates the transcription process in real-time, ensuring that key discussions and decisions are accurately captured and easily accessible for later review, thus enhancing productivity and clarity in communications.\n\nThe workflow leverages n8n and LlamaParse to automatically detect new invoices in a designated Google Drive folder, parse essential billing details, and store the extracted data in a structured format. The key functionalities include:\n- Real-time detection of new invoices via Google Drive triggers.\n- Automated HTTP requests to initiate parsing through Lama Cloud.\n- Structured storage of invoice details and line items in a database for future reference.\n\n1. **Google Drive Integration**: Monitors a specific folder in Google Drive for new invoice uploads.\n2. **Parsing with LlamaParse**: Automatically sends invoices for parsing and processes results through webhooks.\n3. **Data Storage in Airtable**: Creates records for invoices and their associated line items, allowing for detailed tracking.","height":657,"width":636,"color":7},"id":"81e9b9cb-13ef-43f8-aef0-578ba4ae6f94","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"### Set up steps\n\n1. **Google Drive Trigger**: \n   - Set up a trigger to detect new files in a specified folder dedicated to invoices.\n\n2. **File Upload to LlamaParse**: \n   - Create an HTTP request that sends the invoice file to LlamaParse for parsing, including relevant header settings and webhook URL.\n\n3. **Webhook Processing**: \n   - Establish a webhook node to handle parsed results from LlamaParse, extracting needed invoice details effectively.\n\n4. **Invoice Record Creation**: \n   - Create initial records for invoices in your database using the parsed details received from the webhook.\n\n5. **Line Item Processing**: \n   - Transform string data into structured line item arrays and create individual records for each item linked to the main invoice.","height":626,"width":280,"color":7},"id":"09d58789-1f8d-4d28-a6f0-0367f4658de4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,680],"typeVersion":1}],"connections":{"Google Drive":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Create Invoice":{"main":[[{"node":"Process Line Items","type":"main","index":0}]]},"OpenAI - Extract Line Items":{"main":[[{"node":"Create Invoice","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"OpenAI - Extract Line Items","type":"main","index":0}]]},"Process Line Items":{"main":[[{"node":"Create Line Item","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9dce350e-1abd-47d2-8eda-6515c8583403","triggerCount":0,"tags":[{"createdAt":"2025-01-16T18:47:19.564Z","updatedAt":"2025-01-16T18:47:19.564Z","id":"yRW0uhvsnWFNeN7d","name":"N8N Template"}]}