project-7---rfp-2.0-2fac2ZwBVl75ZDHL.json
{"createdAt":"2025-01-16T16:11:09.585Z","updatedAt":"2025-01-16T18:20:57.064Z","id":"2fac2ZwBVl75ZDHL","name":"Project 7 - RFP 2.0","active":false,"nodes":[{"parameters":{},"id":"98d0accd-ab4a-437c-a1a4-f46a70753c59","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[140,200]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"12OPqdpcEOab7eBD7_dVZiEB-bnCtQwHC","mode":"list","cachedResultName":"All RFPs","cachedResultUrl":"https://drive.google.com/drive/folders/12OPqdpcEOab7eBD7_dVZiEB-bnCtQwHC"},"whatToSearch":"files"},"options":{}},"id":"0ad7eeac-a309-4c8e-9260-55e3be967ed6","name":"Search for RFPs","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[300,200],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"5aaf5b5d-6c8d-42f7-bf8e-688e5a016e1d","name":"Downloar RFPs","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[460,200],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"3b846b23-e561-4102-ace9-e82027359833","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[640,200]},{"parameters":{},"id":"64b53b08-9fe1-4174-9706-a4e567293546","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,300]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"\nYOU ARE AN EXPERT RFP ANALYST SPECIALIZED IN INFRASTRUCTURE PROJECTS, INCLUDING ROAD CONSTRUCTION. YOUR ROLE IS TO THOROUGHLY ANALYZE REQUESTS FOR PROPOSALS (RFPs) AND DETERMINE IF THEY ARE RELATED TO ROAD CONSTRUCTION. YOU MUST DELIVER OUTPUT IN A BOOLEAN FORMAT: \"TRUE\" IF THE RFP IS ABOUT ROAD CONSTRUCTION AND \"FALSE\" IF IT IS NOT.\n\n###INSTRUCTIONS###\n\n1. ANALYZE THE PROVIDED RFP:\n   1.1. READ and COMPREHEND the content of the RFP thoroughly.\n   1.2. IDENTIFY key terms, phrases, and project details relevant to road construction (e.g., \"road building,\" \"asphalt paving,\" \"highway construction,\" \"road maintenance\").\n   1.3. DETERMINE whether the RFP pertains to the construction, maintenance, or improvement of roads.\n\n2. APPLY BOOLEAN CRITERIA:\n   2.1. RETURN \"TRUE\" if the RFP directly relates to road construction or maintenance.\n   2.2. RETURN \"FALSE\" if the RFP does not pertain to road construction.\n\n3. ADDRESS EDGE CASES:\n   3.1. IF the RFP contains ambiguous language but has a significant focus on road construction, RETURN \"TRUE.\"\n   3.2. IF the RFP primarily concerns other types of infrastructure (e.g., bridges, buildings, utilities), even if roads are mentioned in passing, RETURN \"FALSE.\"\n\n4. OUTPUT SPECIFICATIONS:\n   4.1. PROVIDE OUTPUT EXCLUSIVELY IN BOOLEAN FORMAT (\"TRUE\" or \"FALSE\").\n   4.2. DO NOT INCLUDE ANY EXPLANATION, COMMENTARY, OR ADDITIONAL TEXT.\n\n5. ENSURE CONSISTENCY:\n   5.1. DOUBLE-CHECK your decision against the RFP content for accuracy.\n   5.2. MAINTAIN OBJECTIVITY and avoid subjective interpretation.\n\n###WHAT NOT TO DO###\n\n- DO NOT RETURN ANY OUTPUT OTHER THAN \"TRUE\" OR \"FALSE.\"\n- DO NOT INCLUDE EXPLANATORY NOTES, TEXTUAL ANALYSIS, OR ADDITIONAL DETAILS.\n- DO NOT GUESS WITHOUT ADEQUATE INFORMATION; BASE DECISION STRICTLY ON THE RFP CONTENT.\n- DO NOT IGNORE THE CONTEXT OR KEY TERMS INDICATING ROAD CONSTRUCTION.\n\n###CHAIN OF THOUGHT###\n\nFOLLOW THESE STEPS TO GUIDE YOUR ANALYSIS:\n\n1. **Understand:** COMPREHEND the purpose and scope of the RFP by thoroughly reading its content.\n2. **Basics:** IDENTIFY fundamental elements such as project type, objectives, and specific language.\n3. **Break Down:** ISOLATE phrases and keywords that indicate a focus on road construction.\n4. **Analyze:** COMPARE the identified elements against the criteria for road construction projects.\n5. **Build:** FORMULATE a conclusion based on evidence from the RFP content.\n6. **Edge Cases:** CONSIDER ambiguous or borderline cases and resolve them based on clarity and emphasis on roads.\n7. **Final Answer:** OUTPUT \"TRUE\" or \"FALSE\" as the definitive determination.\n\n###EXAMPLES###\n\n#### Example 1:\n**Input RFP Content:**\n\"Seeking contractors for the construction and paving of a new highway.\"\n\n**Output:**\n\"content\": \n{\n\"output\": \n\"TRUE\"\n}\n\n#### Example 2:\n**Input RFP Content:**\n\"Requesting proposals for a new office building near the main road.\"\n\n**Output:**\n\"content\": \n{\n\"output\": \n\"FALSE\"\n}\n\n#### Example 3:\n**Input RFP Content:**\n\"Rehabilitation of bridges and connecting roadways.\"\n\n**Output:**\n\"content\": \n{\n\"output\": \n\"TRUE\"\n}\n\n#### Example 4:\n**Input RFP Content:**\n\"Installation of water pipes along urban streets.\"\n\n**Output:**\n\n\"content\": \n{\n\"output\": \n\"FALSE\"\n}\n\n","role":"system"},{"content":"=Here is the RFP: {{ $json.text }}"}]},"simplify":false,"jsonOutput":true,"options":{}},"id":"ca3aff25-5949-4cf1-bdcd-a5af10383103","name":"Validate RFPs","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[800,200],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bfc6d1f2-9e8d-4b73-97b1-0bf2018cf157","leftValue":"={{ $json.choices[0].message.content.output }}","rightValue":"TRUE","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"903f37f2-a825-419e-99bd-94012f97c23b","name":"Check","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,200]},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Search for RFPs').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1Dzski12ofIkPsGtcpXHGdhrhjM661NoT","mode":"list","cachedResultName":"Qualified RFPs","cachedResultUrl":"https://drive.google.com/drive/folders/1Dzski12ofIkPsGtcpXHGdhrhjM661NoT"}},"id":"35b0d1ec-92f5-4bdc-adf1-d933c2df7adb","name":"Move qualified RFPs","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1340,80],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6ef76bba-7b22-4a46-9358-ecbec8ca47d4","name":"Webhook triger","value":"https://primary-production-ea41.up.railway.app/webhook-test/fd23361b-6252-4bd3-a772-011406ea2626","type":"string"},{"id":"7f6556d9-00ca-4557-9e8c-f4c4ec7f6ffd","name":"RFP ","value":"RFP about road construction","type":"string"}]},"options":{}},"id":"6d1d060a-e67f-4ffd-9d1f-99d56666d675","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,80]},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.message.content }}","options":{}},"id":"1f25171b-ade3-4f71-bed5-ff9e2e0efc1f","name":"Markdown","type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1120,580]},{"parameters":{"sendTo":"tarasmazepa95@gmail.com","subject":"Request for RFP approval","message":"=Hello Saad,\nI found this {{ $json['RFP '] }} that fits within your scope of work,\nWould you like for me to Pursue this opportunity for you?\nClick on the link to approve: {{ $json['Webhook triger'] }}","options":{}},"id":"33e896ad-e573-45b0-a4bb-a2828f2aa9a5","name":"Send for Approval","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1700,80],"webhookId":"88b1e69c-448a-4c52-92a2-eb9636243b93","credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Dzski12ofIkPsGtcpXHGdhrhjM661NoT","mode":"list","cachedResultName":"Qualified RFPs","cachedResultUrl":"https://drive.google.com/drive/folders/1Dzski12ofIkPsGtcpXHGdhrhjM661NoT"},"whatToSearch":"files"},"options":{}},"id":"520913e6-a439-4f01-96f1-ce2928655718","name":"Search for RFPs1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,580],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"id":"64c4ccac-79d5-437e-a42a-39491df54a99","name":"Downloar RFPs1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,580],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"fddb56ce-f43a-4c1e-a92c-3c77681e92bb","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[660,580]},{"parameters":{"path":"fd23361b-6252-4bd3-a772-011406ea2626","options":{}},"id":"de5d8f68-7819-43e4-a052-8a773aa36ca6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,580],"webhookId":"fd23361b-6252-4bd3-a772-011406ea2626"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"YOU ARE AN EXPERT RFP ANALYST WITH DEEP KNOWLEDGE IN IDENTIFYING AND EXTRACTING KEY INFORMATION FROM REQUEST FOR PROPOSAL DOCUMENTS. YOUR TASK IS TO CAREFULLY REVIEW THE PROVIDED RFP AND IDENTIFY THE MOST IMPORTANT ELEMENTS THAT REQUIRE SPECIFIC ATTENTION. YOU MUST BE DETAIL-ORIENTED AND FOCUS ONLY ON CRUCIAL PARTS OF THE DOCUMENT THAT AFFECT THE RESPONSE.\n\n### INSTRUCTIONS ###\n\n- YOU MUST IDENTIFY THE FOLLOWING KEY PIECES OF INFORMATION:\n  1. **Scope of Work**: Identify the project's goals, deliverables, and expectations.\n  2. **Timeline and Deadlines**: Highlight any deadlines or milestones critical to the project.\n  3. **Evaluation Criteria**: Extract the factors that will be used to assess proposals.\n  4. **Budget/Cost Constraints**: Extract any financial requirements, constraints, or limits mentioned.\n  5. **Qualifications or Requirements**: Identify any specific qualifications, certifications, or experience required.\n  6. **Submission Instructions**: Extract instructions on how to submit proposals, including formats and any necessary documents.\n  7. **Legal or Compliance Requirements**: Highlight any legal clauses, compliance regulations, or necessary certifications.\n  8. **Additional Important Notes**: Include any special considerations, warnings, or specific terms that stand out as critical.\n\n- FOCUS ONLY ON THE INFORMATION THAT WILL IMPACT THE RESPONSE TO THE RFP.\n- BE CONCISE AND CLEAR, providing each extracted piece of information in a bullet-point format.\n\n### CHAIN OF THOUGHTS ###\nFollow these steps:\n1. **Read the RFP Carefully**: Review the entire document for sections that outline expectations, requirements, and instructions.\n2. **Identify Key Sections**: Find specific sections that discuss the project scope, budget, qualifications, deadlines, and submission process.\n3. **Extract Actionable Information**: Focus on items that directly affect how the proposal should be crafted.\n4. **Summarize and Prioritize**: Present the information in a way that highlights the most crucial details for responding to the RFP effectively.\n\n### WHAT NOT TO DO ###\n\n- NEVER OMIT ESSENTIAL INFORMATION that is directly related to deadlines, evaluation criteria, or project requirements.\n- NEVER EXTRACT INFORMATION THAT IS TOO GENERAL OR AMBIGUOUS; only include clear and actionable points.\n\n### Few-Shot Example ###\n\n**RFP Excerpt:**\n\"The contractor must provide the software by June 30th. The total project budget is $100,000, and the proposal must demonstrate experience with cloud-based systems.\"\n\n**Extracted Information:**\n- **Deadline:** June 30th\n- **Budget:** $100,000\n- **Requirement:** Experience with cloud-based systems\nNote: don't include texts like Here are the key pieces of information extracted from the provided RFP for the Road Construction Project.","role":"assistant"},{"content":"=RFP informations: {{ $json.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[800,580],"id":"ad6d0fe5-37bf-419c-aa39-0f5703d548c0","name":"OpenAI","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"assignments":{"assignments":[{"id":"5fbe5181-d54c-4526-9340-816680e70193","name":"RFP highlight","value":"={{ $json.data }}","type":"string"},{"id":"43f8c348-9427-4794-8a57-14415894b4c9","name":"Questions","value":"<ul>   <li>How do you plan to meet the deadlines specified, especially the completion date of October 31, 2025?</li>   <li>Can you provide a project timeline with key milestones and deliverables?</li>   <li>What steps will you take if there are delays or unforeseen circumstances that could impact the timeline?</li>   <li>Can you provide audited financial statements for the last 3 years to demonstrate financial stability?</li>   <li>Are there any potential hidden costs or contingencies that we should be aware of?</li>   <li>How do you manage cost control on large-scale projects like this?</li>   <li>How will you ensure that the project stays within the $5,000,000 budget?</li>   <li>What quality assurance processes do you have in place for the different phases of construction?</li>   <li>How do you handle disputes, claims, or issues that arise during the project?</li>   <li>What are your risk management strategies, especially concerning potential cost overruns or delays?</li>   <li>Do you have access to the necessary equipment for this project? If not, how do you plan to acquire it?</li>   <li>Can you ensure that you have enough skilled labor to meet the demands of the project?</li>   <li>What is your approach to equipment maintenance to avoid downtime during construction?</li>   <li>Will you be using any subcontractors for parts of the project? If so, how do you ensure their quality and performance?</li>   <li>Can you provide details about your relationships with subcontractors or suppliers?</li>   <li>What are your proposed payment terms and milestones for this project?</li>   <li>Can you outline the terms of the formal contract you would be willing to sign?</li>   <li>How do you handle contract disputes or changes in project scope?</li> </ul>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,580],"id":"625c0ac0-7f0a-4fc8-840a-19881714331f","name":"Edit Fields1"},{"parameters":{"sendTo":"tarasmazepa95@gmail.com","subject":"Final Clerifications","message":"=Please go through the RFP highlights and provide the answers of the questions.\nRFP highlights: {{ $json['RFP highlight'] }}\nQuestions: {{ $json.Questions }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1420,580],"id":"5ad736c5-f76d-4b81-ad25-fa4b6b45d04a","name":"Gmail","webhookId":"7fcbba63-7cd7-4dfd-8e8e-a1a22c68efe3","credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[60,940],"id":"99403eab-d9f7-4f8f-ae54-04c4aeb0060c","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,940],"id":"53654f60-654f-473e-b5e9-d5c66f698576","name":"Gmail1","webhookId":"f3998148-b2c9-454c-82cc-445db2631bd5","alwaysOutputData":true,"credentials":{"gmailOAuth2":{"id":"IntWeCpVSMoi6NnP","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"320188bf-875a-4445-af34-5fc114175670","leftValue":"={{ $json.From }}","rightValue":"tarasmazepa95@gmail.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,940],"id":"100bcbdf-9f0f-4e4e-a3a6-85d234163d16","name":"Filter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[760,1120],"id":"8ee0dad3-fe90-490c-bec6-22dd703b6226","name":"Default Data Loader"},{"parameters":{"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[840,1260],"id":"2ed4b920-0312-4bcb-8866-d44eb3a4b37d","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[640,1160],"id":"48e5e339-bb6c-40f0-9629-e5c92e20d6fc","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1200,920],"id":"05fcf9c9-0ec7-4169-be3c-45b2e2973397","name":"When chat message received","webhookId":"6ba2cae3-e67f-493a-beb2-a38e05830f4f"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.4,"position":[1420,920],"id":"20dade1e-8c70-4709-bbab-3f5899dfdd67","name":"Question and Answer Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1340,1100],"id":"56f9ad4b-d8ee-49aa-b27a-777a295d15c5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1560,1060],"id":"6a0ce7bf-4d7d-4b57-a5ba-69de03e216d5","name":"Vector Store Retriever"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1420,1320],"id":"40246882-ddfe-41e5-ab56-2029ad8532e2","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"content":"# Search RFPs and ask for confirmation\n","height":480,"width":1900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7fe64641-21fa-4b3c-9d23-9ed7b16289d3","name":"Sticky Note"},{"parameters":{"content":"# On confirmation send RFP details and ask questions to the contractor","height":300,"width":1900},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,500],"id":"404baef6-7805-40b4-b6a2-67a2d5ac721f","name":"Sticky Note1"},{"parameters":{"content":"# Extract answer from email and upload on vector store","height":620,"width":1120},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,820],"id":"41a41ec3-8731-4ba8-9da7-2370989b64b7","name":"Sticky Note2"},{"parameters":{"content":"# QnA session with RFPs","height":620,"width":760},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1140,820],"id":"4754c122-1412-4713-bc0c-1a81ab2c6ec2","name":"Sticky Note3"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents_project7","mode":"list","cachedResultName":"documents_project7"},"options":{"queryName":"match_documents_project7"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[620,940],"id":"017f4093-f835-4007-aa01-da5c0fd23efe","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"PRlrrpKn88IGJQdq","name":"Supabase account 6"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents_project7","mode":"list","cachedResultName":"documents_project7"},"options":{"queryName":"match_documents_project7"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1560,1200],"id":"ec933558-5b25-4b3e-ac23-3bd3a2fbc5ff","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"PRlrrpKn88IGJQdq","name":"Supabase account 6"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Search for RFPs","type":"main","index":0}]]},"Search for RFPs":{"main":[[{"node":"Downloar RFPs","type":"main","index":0}]]},"Downloar RFPs":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Validate RFPs","type":"main","index":0}]]},"Validate RFPs":{"main":[[{"node":"Check","type":"main","index":0}]]},"Check":{"main":[[{"node":"Move qualified RFPs","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Move qualified RFPs":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send for Approval","type":"main","index":0}]]},"Search for RFPs1":{"main":[[{"node":"Downloar RFPs1","type":"main","index":0}]]},"Downloar RFPs1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Search for RFPs1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"Gmail1":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"22b45b03-17e2-47fb-a271-c3cefef00734","triggerCount":0,"tags":[]}