rag-ai-agent-with-n8n-+-supabase-f0vyMxffWwG4kRYE.json
{"createdAt":"2025-01-08T17:25:11.737Z","updatedAt":"2025-01-08T21:13:55.836Z","id":"f0vyMxffWwG4kRYE","name":"RAG AI Agent with n8n + Supabase","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"1d12364e-c43a-4f9b-804e-4e374e2aab7f","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-420,360],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"id":"8a91b745-9046-49bb-af58-38357a733d89","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[400,300],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"OpenAi account 2"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"d20873ec-a654-49db-8e8a-d23f6d97b93c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[540,840]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"63a1479c-9900-4755-8325-2e7075b34ef3","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[380,840],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"OpenAi account 2"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"80f21c25-002d-453f-80f0-0f27b9751892","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[180,120]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"de7d35ad-b4df-4a7f-b0bb-3e3930bb578a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"380d98af-8cc0-405d-a10a-af28b509edf7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1220,540]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ac4b4758-5472-40e3-9829-77ad90cb13bd","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-120,720],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Q0BSRV2DKadeoXTxMx5I7en0Yb5KXly1","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1Q0BSRV2DKadeoXTxMx5I7en0Yb5KXly1"},"event":"fileCreated","options":{}},"id":"10df0f6c-bd80-4ec1-8d99-63d89fae4985","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1160,620],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC","mode":"list","cachedResultName":"Meeting Notes","cachedResultUrl":"https://drive.google.com/drive/folders/1914m3M7kRzkd5RJqAfzRY9EBcJrKemZC"},"event":"fileUpdated","options":{}},"id":"1be896f3-b2fa-4aea-ab0c-7405f692c303","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1160,840],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"afc71938-d8b9-4949-b752-1a6f45af7f97","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[140,720],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"69912c20-56d9-42f1-b37d-0d87d802fda9","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[220,400],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"OpenAi account 2"}}},{"parameters":{},"id":"3b1d5113-c134-4ae1-b63c-3e7d4bd50223","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-280,360],"notesInFlow":false,"credentials":{"postgres":{"id":"YY2XkyUUrwYbUVrU","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"ab3e870f-14dc-48f1-8295-f56426779d68","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[540,1040]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"d0b3ca42-0ebf-41bd-ab28-0ac78b81c632","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-420,720],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KxeClAV3DIase8vK","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"d5750ccf-8352-4572-b550-c6485896f4e0","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,720]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"129598ea-0ff9-41ff-b0ac-6ec902e41aba","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-700,60]},{"parameters":{"public":true,"options":{}},"id":"407abbbc-98fe-4c0b-ad2a-0545c9707420","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-640,140],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."}},"id":"13df1146-23dd-434f-b4c5-bda13ce3085f","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-320,140]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"332670f7-d8e9-4ac9-9e33-de69940c77ee","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[60,280],"credentials":{"supabaseApi":{"id":"KxeClAV3DIase8vK","name":"Supabase account"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"9d572f26-3306-4226-9f26-bdb0e4399fa4","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[420,620],"credentials":{"supabaseApi":{"id":"KxeClAV3DIase8vK","name":"Supabase account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4f3b05e5-da4d-4d67-8f57-1a1312bd33b3","triggerCount":0,"tags":[]}