rag-ai-agent-project-4-kdiFb62D8rAkXx3l.json
{"createdAt":"2025-01-16T01:48:59.625Z","updatedAt":"2025-01-16T02:48:30.909Z","id":"kdiFb62D8rAkXx3l","name":"RAG AI Agent project 4","active":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"69aeb37c-ccf9-4e93-988e-9294308ec75f","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1780,1380]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"2ea846c4-e089-4cb3-a349-d9fcab8c04f5","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1980,1380]},{"parameters":{"operation":"pdf","options":{}},"id":"d628b6cb-c085-4182-a5fa-abcf5e73bed4","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1580,1040]},{"parameters":{"operation":"xlsx","options":{}},"id":"ef2fe3d7-56fb-449b-9c04-4bc51c0d22d0","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1580,1380]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Updated').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Updated').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"23a36d09-66f4-4130-98d4-97db05ea55a2","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,2200]},{"parameters":{"operation":"delete","tableId":"documents_project3","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $('Set File ID').item.json.file_id }}*"},"id":"7e6d0bf1-0e21-41ea-bfdf-9c64c8fb821f","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[600,2200],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"PRlrrpKn88IGJQdq","name":"Supabase account 6"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"19867910-1999-4e2b-aa35-0ce3fd151dc1","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1540,2360],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID1').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Set File ID1').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"b722e629-16dd-427e-afe7-ccc1149a3f56","name":"Convert to Google Doc1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1580,1560],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"928b5cae-77cd-48a2-81ef-2f76dc441b0a","leftValue":"={{ $('File Updated').item.json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6368b5ad-32b0-491d-a27d-5cc3ad5c2a11","leftValue":"={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}","rightValue":60,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[380,2200],"id":"a3891d75-fef6-4431-a1f0-83f9d3208ecb","name":"If","onError":"continueRegularOutput"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Set File ID1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1780,1560],"id":"3d9a8460-c613-44da-9e5a-8bdac3df72bf","name":"Delete File","credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Created').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Created').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"93a1e34f-14cf-4f3a-b7d7-7fb31169bbd1","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,1340]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"d84551d1-28f8-4493-9d2b-5e1aad8c5aaf","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[600,1500],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"b84d1a5c-48e2-4cec-a34e-c64aee37a6aa","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2300,2300]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"44637610-d34a-422f-a0b5-cb6961148769","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2500,2300]},{"parameters":{"operation":"pdf","options":{}},"id":"e6b63587-aabd-480a-9624-61df363daff1","name":"Extract PDF Text1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2100,1960]},{"parameters":{"operation":"xlsx","options":{}},"id":"acb32160-71c5-4074-ada8-5a8d8f462d21","name":"Extract from Excel1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2100,2300]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Set File ID').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"b90dcf02-c810-4d8f-87b3-f50f2a0bd21e","name":"Convert to Google Doc2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2100,2500],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2300,2500],"id":"f4a379d3-5dde-42c3-84b2-2cbc5b87df0e","name":"Delete File1","credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2440,1420],"id":"f13c3b0a-174d-4a81-9c4c-65241c591f7b","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2200,1360],"id":"e675b06a-60c2-437f-8fb3-475c2a17e9bc","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3080,2420],"id":"9365bd45-d3a8-43b1-8b72-64ff91e8fc17","name":"Recursive Character Text Splitter1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2820,2280],"id":"76ffa064-6d30-49e5-bf7d-76bb0908543d","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"content":"# Watch Trigger (Drive) - Files Created\n## Files created in a specific folder -> Check file type and do conversion if necessary -> Extract the text -> Add to Vector Store\nDrive/Backoffice/Backoffice_Contracts","height":740,"width":2660,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,980],"typeVersion":1,"id":"a0e675a3-786c-482a-af9d-bffb15d47d98","name":"Sticky Note1"},{"parameters":{"content":"# Watch Trigger (Drive) - Files Updated\n## Files updated in a specific folder -> Check file type and do conversion if necessary -> Extract the text -> Add to Vector Store\nDrive/Backoffice/Backoffice_Contracts","height":888.3491772897637,"width":3306.7699150920453,"color":5},"type":"n8n-nodes-base.stickyNote","position":[20,1820],"typeVersion":1,"id":"02a9aa37-8a9d-4ed3-8614-e4ac0dadc478","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,1340],"id":"a1e6ae36-3bad-4993-adf9-fd268764d738","name":"Loop Over Items"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID1').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('File Created').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Created').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('File Created').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('File Created').item.json.name }}"},{"name":"file_extension","value":"={{ $('File Created').item.json.mimeType }}"}]}}},"id":"210e5986-7261-4c34-9790-be3596433426","name":"Enhanced Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2360,1260]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"=version","value":"={{ $('Set Version').item.json.message.content.version }}"},{"name":"=creator","value":"={{ $('File Updated').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Updated').item.json.createdTime }}"},{"name":"=last_modified","value":"={{ $('File Updated').item.json.modifiedTime }}"},{"name":"=folder_path","value":"projects"},{"name":"=file_name","value":"={{ $('File Updated').item.json.name }}"},{"name":"=file_extension","value":"={{ $('File Updated').item.json.mimeType }}"}]}}},"id":"a6ab56a1-c328-4a20-8362-e92146ff3be3","name":"Enhanced Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[3000,2200]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1380,2200],"id":"4d29a135-864e-46fa-b737-e86acbd613d5","name":"Loop Over Items1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"17qlWXDanGlHMv4Snb1oZU3SxXcArQsfE","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://drive.google.com/drive/folders/17qlWXDanGlHMv4Snb1oZU3SxXcArQsfE"},"event":"fileCreated","options":{}},"id":"d363fc12-673c-4a0e-b4fc-edcbdbcbd657","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[80,1340],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"17qlWXDanGlHMv4Snb1oZU3SxXcArQsfE","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://drive.google.com/drive/folders/17qlWXDanGlHMv4Snb1oZU3SxXcArQsfE"},"event":"fileUpdated","options":{}},"id":"32fe48a5-e9df-4c30-bfe4-dbe2fe39e4c5","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[40,2200],"credentials":{"googleDriveOAuth2Api":{"id":"yt2I6MYNYkPBJbGO","name":"Google Drive account"}},"disabled":true},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents_project3","mode":"id"},"options":{"queryName":"match_documents"}},"id":"bfec5215-3e92-439f-bd10-07deba6e68a8","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2780,1960],"credentials":{"supabaseApi":{"id":"PRlrrpKn88IGJQdq","name":"Supabase account 6"}}},{"parameters":{"operation":"text","options":{}},"id":"2e6b956a-9fc1-4aa6-b289-f713e6e6766d","name":"Extract from Text File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1580,1200],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"bc4869ad-1ce9-4b77-ba41-9943b498e11f","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1800,2180]},{"parameters":{"operation":"text","options":{}},"id":"98261da8-975c-427b-ab37-c3434243c59e","name":"Extract from Text File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2100,2120],"alwaysOutputData":true},{"parameters":{},"id":"dcce35da-b6c7-432c-8725-cae89f57e89f","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[760,2200]},{"parameters":{"options":{}},"id":"caac7e6d-c52c-46f9-8563-d092ffdb638e","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[320,100],"webhookId":"e9325791-143d-4aea-be69-160d6bbf9653"},{"parameters":{"model":"openai/gpt-4o","options":{"baseURL":"https://openrouter.ai/api/v1"}},"id":"b878d14c-66f8-4a67-97e5-141d04302cd1","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[420,320],"credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"openrouter synapse-ai"}}},{"parameters":{"tableName":"","contextWindowLength":10},"id":"787f5730-528e-42a9-912d-bfc11bfa2525","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[580,320],"credentials":{"postgres":{"id":"YY2XkyUUrwYbUVrU","name":"Postgres account"}}},{"parameters":{"name":"database","description":"retrieves data about projects"},"id":"c3917e1e-4b58-4d3b-9716-ff1142bb0686","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[740,320]},{"parameters":{"model":"openai/gpt-4o","options":{"baseURL":"https://openrouter.ai/api/v1"}},"id":"250a2cc3-7727-447f-bade-e1419da8e152","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[880,480],"credentials":{"openAiApi":{"id":"qD9sE07gzraVmyAa","name":"openrouter synapse-ai"}}},{"parameters":{"options":{}},"id":"00dbbe9f-82b5-4b2c-b2bb-02a7f26b0de9","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[600,620],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents_project3","mode":"list","cachedResultName":"documents_project3"},"options":{"queryName":"match_documents_project3"}},"id":"7046059b-9012-4c37-b3dc-c24413895327","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[600,480],"credentials":{"supabaseApi":{"id":"PRlrrpKn88IGJQdq","name":"Supabase account 6"}}},{"parameters":{"content":"# RAG AI Agent\n","height":847.7499999999999,"width":1262.1803336071664},"id":"13cc8638-93db-4b26-a095-4935c96d2645","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"options":{}},"id":"bcb4a23e-31d8-4af3-88a8-2b8b0a7d7b89","name":"New RAG Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,100]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Set File ID1').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"3097490d-0a29-403d-a943-142a16550015","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1000,1260]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"Your goal is to take the incoming version number and add 1 to it. \n\n[Examples]\nInput: v1\nOutput: v2\n\nInput: v2\nOutput: v3\n\nInput: v4\nOutput: v5 \n\nThe output field should always be called \"version\"","role":"system"},{"content":"=incoming version number: {{ $json.metadata.version }}"}]},"jsonOutput":true,"options":{}},"id":"0cbba172-2008-4244-a3e0-8015ced97545","name":"Set Version","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[980,2200],"credentials":{"openAiApi":{"id":"WSqCBAeBk7CghzFv","name":"synapseai.us api key"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"=documents_project3","mode":"id"},"options":{"queryName":"match_documents_project3"}},"id":"7b27fa16-d42a-4ab7-9bc8-6a56350a4a97","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2180,1060],"credentials":{"supabaseApi":{"id":"PRlrrpKn88IGJQdq","name":"Supabase account 6"}}}],"connections":{"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"If","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Convert to Google Doc1":{"main":[[{"node":"Delete File","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Set File ID1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Extract from Excel1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Convert to Google Doc2":{"main":[[{"node":"Delete File1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Extract PDF Text1":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Download File1","type":"main","index":0}]]},"Enhanced Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Enhanced Default Data Loader2":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Download File","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID1","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract from Text File":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text1","type":"main","index":0}],[{"node":"Extract from Text File1","type":"main","index":0}],[{"node":"Extract from Excel1","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}]]},"Extract from Text File1":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Set Version","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"New RAG Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"New RAG Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"New RAG Agent","type":"ai_memory","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"New RAG Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Switch2":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Text File","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Convert to Google Doc1","type":"main","index":0}],[{"node":"Convert to Google Doc1","type":"main","index":0}],[{"node":"Convert to Google Doc1","type":"main","index":0}]]},"Set Version":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e5c19924-af46-4e9d-b479-b60a7d7c94d2","triggerCount":0,"tags":[]}