telegram-bot-5v1GXyDtCNDVG5re.json
{"createdAt":"2025-01-05T01:15:19.840Z","updatedAt":"2025-01-05T02:10:45.429Z","id":"5v1GXyDtCNDVG5re","name":"Telegram bot","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"60d02785-a119-4ac6-8ddc-9c943e2c2c98","name":"Schedule Trigger"},{"parameters":{"url":"https://api.spoonacular.com/recipes/random","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"number","value":"1"},{"name":"include-tags","value":"dessert"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"26b8c02d-0e99-421c-906b-2b9b6ce3fb54","name":"HTTP Request","credentials":{"httpQueryAuth":{"id":"cy9ZMRpBJ7WQQjx9","name":"Food Query Auth account"}}},{"parameters":{"operation":"sendPhoto","chatId":"6986791633","file":"={{ $json.recipes[0].image }}","additionalFields":{"caption":"={{ $json.recipes[0].title }}\n\n{{ $json.recipes[0].sourceUrl }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[440,0],"id":"f1e923f4-af6f-43ad-88d6-fa289cfa96a3","name":"Telegram","credentials":{"telegramApi":{"id":"xQkgcEKa0LufaCic","name":"Telegram account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"ee6d050d-00d4-4b3a-a139-547c6e2a0197","triggerCount":1,"tags":[]}